absl-py==0.10.0
aiohttp==3.8.1
aiosignal==1.2.0
appdirs==1.4.4
appnope==0.1.2
argon2-cffi-bindings==21.2.0
argon2-cffi==21.3.0
asttokens==2.0.5
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attention==2.2
attrs==21.4.0
backcall==0.2.0
backports.functools-lru-cache==1.6.4
black==21.7b0
bleach==4.1.0
blinker==1.4
brotlipy==0.7.0
cached-property==1.5.2
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.4
colorama==0.4.4
conda-package-handling==1.7.3
conda==4.12.0
cryptography==36.0.1
cycler==0.11.0
dataclasses==0.8
decorator==5.1.1
defusedxml==0.7.1
docker-pycreds==0.4.0
dss-python==0.12.0b2
entrypoints==0.3
et-xmlfile==1.0.1
executing==0.8.2
flatbuffers==2.0
flit-core==3.6.0
frozenlist==1.3.0
future==0.18.2
gast==0.4.0
gitdb==4.0.9
gitpython==3.1.27
google-auth-oauthlib==0.4.6
google-auth==1.35.0
google-pasta==0.2.0
grpcio==1.44.0
h5py==3.1.0
idna==3.1
importlib-metadata==4.11.2
importlib-resources==5.4.0
ipykernel==5.5.5
ipython-genutils==0.2.0
ipython==8.0.1
ipywidgets==7.6.5
jedi==0.18.1
jinja2==3.0.3
joblib==1.1.0
jsonschema==4.4.0
jupyter-client==7.1.0
jupyter-console==6.4.0
jupyter-core==4.9.2
jupyter==1.0.0
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras-preprocessing==1.1.2
keras==2.8.0
kiwisolver==1.3.2
kmodes==0.11.1
libclang==13.0.0
markdown==3.3.6
markupsafe==2.1.0
matplotlib-inline==0.1.3
matplotlib==3.4.3
mistune==0.8.4
multidict==6.0.2
munkres==1.1.4
mypy-extensions==0.4.3
nbclient==0.5.9
nbconvert==6.4.2
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==2.7.1
notebook==6.4.7
numpy==1.22.2
oauthlib==3.1.1
olefile==0.46
opendssdirect.py==0.3.5
openpyxl==3.0.9
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.1
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
pathtools==0.1.2
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==8.4.0
pip==22.0.4
platformdirs==2.3.0
prometheus-client==0.12.0
promise==2.3
prompt-toolkit==3.0.24
protobuf==3.19.3
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.0.0
pyasn1-modules==0.2.7
pyasn1==0.4.8
pycosat==0.6.3
pycparser==2.21
pygments==2.11.2
pyjwt==2.3.0
pymongo==4.0.2
pyopenssl==21.0.0
pyparsing==3.0.6
pyrsistent==0.18.1
pysocks==1.7.1
python-dateutil==2.8.2
pytz==2021.3
pyu2f==0.1.5
pyyaml==6.0
pyzmq==22.3.0
regex==2022.1.18
requests-oauthlib==1.3.0
requests==2.26.0
rsa==4.8
ruamel-yaml-conda==0.15.80
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
send2trash==1.8.0
sentry-sdk==1.5.7
setproctitle==1.2.2
setuptools==60.9.3
shortuuid==1.0.8
six==1.15.0
smmap==5.0.0
stack-data==0.0.0
statsmodels==0.13.2
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.1
tensorboard==2.8.0
tensorflow-macos==2.8.0
tensorflow-metal==0.4.0
termcolor==1.1.0
terminado==0.13.1
testpath==0.5.0
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.0.0
tomli==1.2.2
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
typed-ast==1.5.2
typing-extensions==3.7.4.3
urllib3==1.26.7
wandb==0.12.11
wcwidth==0.2.5
webencodings==0.5.1
werkzeug==2.0.1
wheel==0.35.1
widgetsnbextension==3.5.2
wrapt==1.12.1
yarl==1.7.2
yaspin==2.1.0
zipp==3.7.0